*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(https://trello.com/1/cards/6200dfda07cf1687bcd3595d/attachments/6200dfdb07cf1687bcd35afc/previews/6200dfdb07cf1687bcd35b04/download/image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#button-group{
    margin-top: 25px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    
}

#positions{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#question-group{
    margin-left: 16px;
}

ul{
    list-style: none;
    margin: 20px;
}

h3{
    margin: 20px;
}

#info{
    display: flex;
    justify-content: end;
    border-bottom: solid 5px rgb(194, 187, 187);
}