*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(https://trello.com/1/cards/6200dfda07cf1687bcd3595d/attachments/6200dfdb07cf1687bcd35afc/previews/6200dfdb07cf1687bcd35b04/download/image.png);
}